{% extends "../index.html" %}

{% block title %}
<title>Update team</title>
{% endblock %}

{% block content %}
<h2>Create your own team</h2>
<form id="teamFormId" onsubmit="sendForm()">
    <div class="mb-3">
        <label for="nameInputId" class="form-label">Name</label>
        <input type="text" class="form-control" id="nameInputId" name="name" value="{{ team.name }}" required>
    </div>
    <div class="mb-3">
        <label for="membersInputId" class="form-label">Members</label>
        <input type="text" class="form-control" id="membersBlobInputId" name="members_blob"
            value="{{ team.membersBlob }}" required>
        <input type="text" class="form-control" id="membersInputId" name="members" value="{{ team.members }}" hidden>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

{% block scripts %}
<script>
    function sendForm() {
        $.ajax({
            type: 'put',
            url: '/teams/{{team._id}}',
            data: $('#teamFormId').serialize(),
            success: function (data, textStatus, jqXHR) {
                alert('everything was OK');
            }
        });
    }

    function split(val, regExpr = / \s*/) {
        return val.split(regExpr);
    }

    function extractLast(term) {
        return split(term).pop();
    }

    function getAllUsers(url) {
        $.ajax({
            url: url,
            method: 'get',
            success: function (json) {
                let users = json;
                users = users.map(user => {
                    return { 'label': user.email, 'value': user._id };
                });
                let membersInputId = $('#membersInputId');

                $('#membersBlobInputId')
                    .on('keydown', function (event) {
                        if (event.keyCode === $.ui.keyCode.TAB &&
                            $(this).autocomplete('instance').menu.active) {
                            event.preventDefault();
                        }
                    })
                    .on('focusout', function (event) {
                        if (this.onFocusoutClear) {
                            this.value = '';
                            this.onFocusoutClear = false;
                        } else if (this.value.endsWith(', ')) {
                            let terms = split(this.value, /, \s*/);
                            terms.pop();
                            this.value = terms.join(', ');
                        }
                    })
                    .on('focusin', function (event) {
                        $(this).autocomplete('search', '');
                    })
                    .autocomplete({
                        minLength: 0,
                        source: function (request, response) {
                            response($.ui.autocomplete.filter(users, extractLast(request.term)));
                        },
                        focus: function () {
                            return false;
                        },
                        select: function (event, ui) {
                            var terms = split(this.value, /, \s*/);
                            terms.pop();
                            terms.push(ui.item.label);
                            terms.push('');
                            this.value = terms.join(', ');

                            terms = split(membersInputId.val());
                            terms.pop();
                            terms.push(ui.item.value);
                            terms.push('');
                            membersInputId.val(terms.join(' '));
                            return false;
                        },
                        response: function (event, ui) {
                            if (!ui.content.length) this.onFocusoutClear = true;
                        }
                    });
            }
        });
    }

    (() => {
        getAllUsers('/api/v1/users?exceptUserId={{ userSession._id }}');
    })();

</script>
{% endblock %}