{% extends "../index.html" %}

{% block title %}
<title>Create project</title>
{% endblock %}

{% block content %}
<h2>Create your own project</h2>
<form method="post" action="/tasks/" id="taskFormId">
    <div class="mb-3">
        <label for="nameInputId" class="form-label">Name</label>
        <input type="text" class="form-control" id="nameInputId" name="name" required>
    </div>
    <div class="mb-3">
        <label for="descriptionInputId" class="form-label">Description</label>
        <input type="text" class="form-control" id="descriptionInputId" name="description" required>
    </div>
    <div class="mb-3">
        <label for="teamInputId" class="form-label">Team</label>
        <input type="text" class="form-control" id="teamInputId" name="team" required>
    </div>
    <div class="mb-3">
        <label for="workersInputId" class="form-label">Workers</label>
        <input type="text" class="form-control" id="workersInputId" name="workers" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Period</label>
        <input type="date" class="form-control mb-3" id="periodFromInputId" name="period[from]">
        <input type="date" class="form-control" id="periodToInputId" name="period[to]">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

{% block scripts %}
<script>

    function getAllUsers(url) {
        $.ajax({
            url: url,
            method: 'get',
            success: function (json) {
                let users = json;

                $('#membersInputId')
                    .on('keydown', function (event) {
                        if (event.keyCode === $.ui.keyCode.TAB &&
                            $(this).autocomplete('instance').menu.active) {
                            event.preventDefault();
                        }
                    })
                    .on('focusout', function (event) {
                        if (this.onFocusoutClear) {
                            this.value = '';
                            this.onFocusoutClear = false;
                        }
                    })
                    .autocomplete({
                        minLength: 0,
                        source: function (request, response) {
                            response($.ui.autocomplete.filter(users, extractLast(request.term)));
                        },
                        focus: function () {
                            return false;
                        },
                        select: function (event, ui) {
                            var terms = split(this.value);
                            terms.pop();
                            terms.push(ui.item.value);
                            terms.push('');
                            this.value = terms.join(' ');
                            return false;
                        },
                        response: function (event, ui) {
                            if (!ui.content.length) this.onFocusoutClear = true;
                        }
                    });
            }
        });
    }

    function split(val) {
        return val.split(/ \s*/);
    }

    function extractLast(term) {
        return split(term).pop();
    }

    (() => {
        getAllUsers('/api/v1/users?exceptUserId={{ userSession._id }}');
    })();

</script>
{% endblock %}