{% extends "../index.html" %}

{% block title %}
<title>Project</title>
{% endblock %}

{% block content %}
<div class="mb-2 d-flex flex-row justify-content-between">
    <h2 class="mb-0">{{ project.name }}</h2>
    <a href="#" class="btn btn-primary">Change</a>
</div>

<div class="mb-4">
    <div class="row mb-2">
        <div class="col-2">Description</div>
        <div class="col-10">
            {% if project.description %}
            <p>{{ project.description }}</p>
            {% else %}
            <p><i>Project has no description</i></p>
            {% endif %}
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-2">Team</div>
        <div class="col-10">{{ project.team.name }}</div>
    </div>

    <div class="row mb-2">
        <div class="col-2">Creator</div>
        <div class="col-10">{{ creatorProfile.lastname }} {{ creatorProfile.firstname }}</div>
    </div>

    <div class="row mb-2">
        <div class="col-2">Workers</div>
        <div class="col-10 d-flex flex-column">
            {% if workerProfiles.length %}
            {% for worker in workerProfiles %}
            <p>{{ worker.lastname }} {{ worker.firstname }}</p>
            {% endfor %}
            {% else %}
            <p><i>Project has no workers</i></p>
            {% endif %}
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-2">Start date</div>
        <div class="col-10">{{ project.period.from.toString().split(' ').slice(1, 4).join(' ') }}</div>
    </div>

    <div class="row mb-2">
        <div class="col-2">End date</div>
        <div class="col-10">{{ project.period.to.toString().split(' ').slice(1, 4).join(' ') }}</div>
    </div>

</div>

<div class="row">
    <h3>Tasks</h3>

    <div class="container text-center">
        <div class="row gx-2">
            <div class="col">
                <h4><i class="text-danger">Expired</i></h4>
                {% if expiredTasks.length %}
                {% for task in expiredTasks %}
                <div class="card border border-danger mb-2" onclick="location.href='/tasks/{{task._id}}';"
                    style="cursor: pointer;">
                    <div class="card-body">
                        <h5 class="card-title">{{ task.name }}</h5>
                        <p class="card-text mb-2">Expire: {{ task.period.to.toLocaleDateString('en-ZA') }}</p>
                        <p class="card-text">{{ task.performers.length }} performers</p>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p><i>No tasks</i></p>
                {% endif %}
            </div>

            <div class="col">
                <h4><i class="text-primary">Created</i></h4>
                {% if createdTasks.length %}
                {% for task in createdTasks %}
                <div class="card border border-primary mb-2" onclick="location.href='/tasks/{{task._id}}';"
                    style="cursor: pointer;">
                    <div class="card-body">
                        <h5 class="card-title">{{ task.name }}</h5>
                        <p class="card-text mb-2">Expire: {{ task.period.to.toLocaleDateString('en-ZA') }}</p>
                        <p class="card-text">{{ task.performers.length }} performers</p>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p><i>No tasks</i></p>
                {% endif %}
            </div>

            <div class="col">
                <h4><i class="text-warning">In-progress</i></h4>
                {% if inProgressTasks.length %}
                {% for task in inProgressTasks %}
                <div class="card border border-warning mb-2" onclick="location.href='/tasks/{{task._id}}';"
                    style="cursor: pointer;">
                    <div class="card-body">
                        <h5 class="card-title">{{ task.name }}</h5>
                        <p class="card-text mb-2">Expire: {{ task.period.to.toLocaleDateString('en-ZA') }}</p>
                        <p class="card-text">{{ task.performers.length }} performers</p>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p><i>No tasks</i></p>
                {% endif %}
            </div>

            <div class="col">
                <h4><i class="text-success">Done</i></h4>
                {% if finishedTasks.length %}
                {% for task in finishedTasks %}
                <div class="card border border-success mb-2" onclick="location.href='/tasks/{{task._id}}';"
                    style="cursor: pointer;">
                    <div class="card-body">
                        <h5 class="card-title">{{ task.name }}</h5>
                        <p class="card-text mb-2">Expire: {{ task.period.to.toLocaleDateString('en-ZA') }}</p>
                        <p class="card-text">{{ task.performers.length }} performers</p>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p><i>No tasks</i></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}