{% extends "../index.html" %}

{% block title %}
<title>Create project</title>
{% endblock %}

{% block content %}
<h2>Create your own project</h2>
<form id="projectFormId">
    <div class="mb-3">
        <label for="nameInputId" class="form-label">Name</label>
        <input type="text" class="form-control" id="nameInputId" name="name" value="{{ project.name }}" required>
    </div>
    <div class="mb-3">
        <label for="descriptionInputId" class="form-label">Description</label>
        <input type="text" class="form-control" id="descriptionInputId" name="description"
            value="{{ project.description }}" required>
    </div>
    <div class="mb-3">
        <label for="teamInputId" class="form-label">Team</label>
        <input type="text" class="form-control" id="teamBlobInputId" name="team_blob" value="{{ project.teamBlob }}"
            required>
        <input type="text" class="form-control" id="teamInputId" name="team" value="{{ project.team }}" hidden>
    </div>
    <div class="mb-3">
        <label for="workersInputId" class="form-label">Workers</label>
        <input type="text" class="form-control" id="workersBlobInputId" name="workers_blob"
            value="{{ project.workersBlob }}" required>
        <input type="text" class="form-control" id="workersInputId" name="workers" value="{{ project.workers }}" hidden>
    </div>
    <div class="mb-3">
        <label class="form-label">Period</label>
        <input type="date" class="form-control mb-3" id="periodFromInputId" name="period[from]"
            value="{{ project.period.from }}">
        <input type="date" class="form-control" id="periodToInputId" name="period[to]" value="{{ project.period.to }}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

{% block scripts %}
<script>
    function sendForm() {
        $.ajax({
            type: 'put',
            url: '/projects/{{ project._id }}',
            data: $('#projectFormId').serialize(),
            success: function (data, textStatus, jqXHR) {
                alert('everything was OK');
            }
        });
    }

    function split(val, regExpr = / \s*/) {
        return val.split(regExpr);
    }

    function extractLast(term) {
        return split(term).pop();
    }

    function getUserTeams(url) {
        $.ajax({
            url: url,
            method: 'get',
            success: function (json) {
                let teams = json;
                teams = teams.map(team => { return { 'label': team.name, 'value': team._id } });
                let teamInput = $('#teamInputId');

                $('#teamBlobInputId')
                    .on('keydown', function (event) {
                        if (event.keyCode === $.ui.keyCode.TAB &&
                            $(this).autocomplete('instance').menu.active) {
                            event.preventDefault();
                        }
                    })
                    .on('focusout', function (event) {
                        if (this.onFocusoutClear) {
                            this.value = '';
                            teamInput.val('');
                            $('#workersBlobInputId').unbind();
                            this.onFocusoutClear = false;
                        }
                    })
                    .on('focusin', function (event) {
                        $(this).autocomplete('search', '');
                    })
                    .autocomplete({
                        minLength: 0,
                        source: function (request, response) {
                            response($.ui.autocomplete.filter(teams, extractLast(request.term)));
                        },
                        focus: function () {
                            return false;
                        },
                        select: function (event, ui) {
                            this.value = ui.item.label;
                            teamInput.val(ui.item.value);
                            getTeamMembers(`/api/v1/teams/${ui.item.value}/members`);
                            return false;
                        },
                        response: function (event, ui) {
                            if (!ui.content.length) this.onFocusoutClear = true;
                        }
                    });
            }
        });
    }

    function getTeamMembers(url) {
        $.ajax({
            url: url,
            method: 'get',
            success: function (json) {
                let members = json;
                members = members.map(member => {
                    return { 'label': member.fullname, 'value': member._id }
                });
                let workersInput = $('#workersInputId');

                $('#workersBlobInputId')
                    .on('keydown', function (event) {
                        if (event.keyCode === $.ui.keyCode.TAB &&
                            $(this).autocomplete('instance').menu.active) {
                            event.preventDefault();
                        }
                    })
                    .on('focusout', function (event) {
                        if (this.onFocusoutClear) {
                            this.value = '';
                            workersInput.val('');
                            this.onFocusoutClear = false;
                        } else if (this.value.endsWith(', ')) {
                            let terms = split(this.value, /, \s*/);
                            terms.pop();
                            this.value = terms.join(', ');
                        }
                    })
                    .on('focusin', function (event) {
                        $(this).autocomplete('search', '');
                    })
                    .autocomplete({
                        minLength: 0,
                        source: function (request, response) {
                            response($.ui.autocomplete.filter(members, extractLast(request.term)));
                        },
                        focus: function () {
                            return false;
                        },
                        select: function (event, ui) {
                            var terms = split(this.value, /, \s*/);
                            terms.pop();
                            terms.push(ui.item.label);
                            terms.push('');
                            this.value = terms.join(', ');

                            terms = split(workersInput.val());
                            terms.pop();
                            terms.push(ui.item.value);
                            terms.push('');
                            workersInput.val(terms.join(' '));
                            return false;
                        },
                        response: function (event, ui) {
                            if (!ui.content.length) this.onFocusoutClear = true;
                        }
                    });
            }
        });
    }


    (() => {
        getUserTeams('/api/v1/users/{{ userSession._id }}/teams');

        $('#periodFromInputId').prop('min', new Date().toLocaleDateString('fr-ca'));
    })();

</script>
{% endblock %}