{% extends "../index.html" %}

{% block title %}
<title>Create task</title>
{% endblock %}

{% block content %}
<h2>Create your own task</h2>
<form method="post" action="/tasks/" id="taskFormId">
    <div class="mb-3">
        <label for="nameInputId" class="form-label">Name</label>
        <input type="text" class="form-control" id="nameInputId" name="name" required>
    </div>
    <div class="mb-3">
        <label for="descriptionInputId" class="form-label">Description</label>
        <input type="text" class="form-control" id="descriptionInputId" name="description">
    </div>
    <div class="mb-3">
        <label for="projectInputId" class="form-label">Project</label>
        <input type="text" class="form-control" id="projectBlobInputId" name="project_blob" required>
        <input type="text" class="form-control" id="projectInputId" name="project" hidden>
    </div>
    <div class="mb-3">
        <label for="performersInputId" class="form-label">Performers</label>
        <input type="text" class="form-control" id="performersBlobInputId" name="performers_blob" required>
        <input type="text" class="form-control" id="performersInputId" name="performers" hidden>
    </div>
    <div class="mb-3">
        <label for="statusInputId" class="form-label">Status</label>
        <select class="form-select" id="statusInputId">
            <option selected value="created">Created</option>
            <option value="in-progress">In-progress</option>
            <option value="done">Done</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Period</label>
        <input type="date" class="form-control mb-3" id="periodFromInputId" name="from" required>
        <input type="date" class="form-control" id="periodToInputId" name="to" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

{% block scripts %}
<script>

    function split(val, regExpr = / \s*/) {
        return val.split(regExpr);
    }

    function extractLast(term) {
        return split(term).pop();
    }

    function getUserProjects(url) {
        $.ajax({
            url: url,
            method: 'get',
            success: function (json) {
                let projects = json;
                projects = projects.map(project => { return { 'label': project.name, 'value': project._id } });
                let projectInput = $('#projectInputId');

                $('#projectBlobInputId')
                    .on('keydown', function (event) {
                        if (event.keyCode === $.ui.keyCode.TAB &&
                            $(this).autocomplete('instance').menu.active) {
                            event.preventDefault();
                        }
                    })
                    .on('focusout', function (event) {
                        if (this.onFocusoutClear) {
                            this.value = '';
                            projectInput.val('');
                            $('#performersBlobInputId').unbind();
                            this.onFocusoutClear = false;
                        }
                    })
                    .on('focusin', function (event) {
                        $(this).autocomplete('search', '');
                    })
                    .autocomplete({
                        minLength: 0,
                        source: function (request, response) {
                            response($.ui.autocomplete.filter(projects, extractLast(request.term)));
                        },
                        focus: function () {
                            return false;
                        },
                        select: function (event, ui) {
                            this.value = ui.item.label;
                            projectInput.val(ui.item.value);
                            getProjectWorker(`/api/v1/projects/${ui.item.value}/workers`);
                            return false;
                        },
                        response: function (event, ui) {
                            if (!ui.content.length) this.onFocusoutClear = true;
                        }
                    });
            }
        });
    }

    function getProjectWorker(url) {
        $.ajax({
            url: url,
            method: 'get',
            success: function (json) {
                let workers = json;
                workers = workers.map(worker => {
                    return { 'label': worker.fullname, 'value': worker._id }
                });
                let performersInput = $('#performersInputId');

                $('#performersBlobInputId')
                    .on('keydown', function (event) {
                        if (event.keyCode === $.ui.keyCode.TAB &&
                            $(this).autocomplete('instance').menu.active) {
                            event.preventDefault();
                        }
                    })
                    .on('focusout', function (event) {
                        if (this.onFocusoutClear) {
                            this.value = '';
                            performersInput.val('');
                            this.onFocusoutClear = false;
                        } else if (this.value.endsWith(', ')) {
                            let terms = split(this.value, /, \s*/);
                            terms.pop();
                            this.value = terms.join(', ');
                            terms = split(performersInput.val());
                            terms.pop();
                            performersInput.val(terms.join(' '));
                        }
                    })
                    .on('focusin', function (event) {
                        $(this).autocomplete('search', '');
                    })
                    .autocomplete({
                        minLength: 0,
                        source: function (request, response) {
                            response($.ui.autocomplete.filter(workers, extractLast(request.term)));
                        },
                        focus: function () {
                            return false;
                        },
                        select: function (event, ui) {
                            var terms = split(this.value, /, \s*/);
                            terms.pop();
                            terms.push(ui.item.label);
                            terms.push('');
                            this.value = terms.join(', ');

                            terms = split(performersInput.val());
                            terms.pop();
                            terms.push(ui.item.value);
                            terms.push('');
                            performersInput.val(terms.join(' '));
                            return false;
                        },
                        response: function (event, ui) {
                            if (!ui.content.length) this.onFocusoutClear = true;
                        }
                    });
            }
        });
    }


    (() => {
        getUserProjects('/api/v1/users/{{ userSession._id }}/projects');

        $('#periodFromInputId').prop('min', new Date().toLocaleDateString('fr-ca'));
        $('#periodFromInputId').prop('value', new Date().toLocaleDateString('fr-ca'));
    })();

</script>
{% endblock %}