{% extends "../index.html" %}

{% block title %}
<title>Task</title>
{% endblock %}

{% block content %}
<div class="row">
    <p>{{ task.name }}</p>
    <p>{{ task.description }}</p>
    <p>{{ task.creator }}</p>
    <p>{{ task.project }}</p>
    <p>{{ task.performers }}</p>
    <p>{{ task.project }}</p>
    <p>{{ task.status }}</p>
    <p>{{ task.period.from.toLocaleDateString('en-ZA') }} -
        {{ task.period.to.toLocaleDateString('en-ZA') }}</p>
</div>

<div class="row">
    <h2>Comments</h2>
</div>
{% endblock %}