{% extends "../index.html" %}

{% block title %}
<title>Task</title>
{% endblock %}

{% block content %}
<div class="mb-2 d-flex flex-row justify-content-between">
    <h2 class="mb-0">{{ task.name }}</h2>
    <div class="d-flex">
        <a href="/tasks/{{ task._id }}/update" class="btn btn-primary me-2">Change</a>
        {% if task.creator._id == userSession._id %}
        <a class="btn btn-danger" id="deleteButtonId">Delete</a>
        {% endif %}
    </div>
</div>

<div class="mb-4">
    <div class="row mb-2">
        {% if task.isExpired %}
        {% set borderColor = "danger" %}
        {% elif task.status == "created" %}
        {% set borderColor = "primary" %}
        {% elif task.status == "in-progress" %}
        {% set borderColor = "warning" %}
        {% else %}
        {% set borderColor = "success" %}
        {% endif %}
        <div class="col-2">Status</div>
        <div class="col-10 text-{{borderColor}}">{{ task.status[0].toUpperCase() + task.status.slice(1) }}</div>
    </div>

    <div class="row mb-2">
        <div class="col-2">Description</div>
        <div class="col-10">
            {% if task.description %}
            <p>{{ task.description }}</p>
            {% else %}
            <p><i>Task has no description</i></p>
            {% endif %}
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-2">Creator</div>
        <div class="col-10">
            <a href="/user/{{ creatorProfile.user._id }}">
                {{ creatorProfile.lastname }} {{ creatorProfile.firstname }}
            </a>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-2">Project</div>
        <div class="col-10">
            <a href="/projects/{{ task.project._id }}">{{ task.project.name }}</a>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-2">Performers</div>
        <div class="col-10 d-flex flex-column">
            {% for performer in performerProfiles%}
            <a href="/user/{{ performer.user._id }}">{{ performer.lastname }} {{ performer.firstname }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-2">Start date</div>
        <div class="col-10">{{ task.period.from.toString().split(' ').slice(1, 4).join(' ') }}</div>
    </div>

    <div class="row mb-2">
        <div class="col-2">End date</div>
        <div class="col-10 {% if task.isExpired %}text-{{ borderColor }}{% endif %}">
            {{ task.period.to.toString().split(' ').slice(1, 4).join(' ') }}{% if task.isExpired %} - Expired{% endif %}
        </div>
    </div>

</div>

<div class="row">
    <h3>Comments</h3>

    <form method="post" action="/comments" class="d-flex flex-row mb-4">
        <div class="flex-grow-1">
            <input type="text" class="form-control" placeholder="Send comment . . ." name="body">
            <input type="text" name="task" value="{{ task._id }}" hidden>
            <button type="submit" class="btn btn-primary" hidden>Submit</button>
        </div>
    </form>

    <div class="d-flex flex-column">
        {% if comments.length %}
        {% for comment in comments %}
        <div class="card mb-2">
            <div class="card-body">
                <div class="d-flex flex-row justify-content-between">
                    <h5 class="card-title">{{ comment.userProfile.lastname }} {{ comment.userProfile.firstname }}</h5>
                    <small>{{ comment.createdAt.toLocaleDateString('en-ZA') }}</small>
                    {% if comment.modified %}<small></small>{% endif %}
                </div>
                <p class="card-text">{{ comment.body }}</p>
                <div class="d-flex justify-content-end">
                    {% if comment.user._id == userSession._id %}
                    <a href="/comments/{{ comment._id }}/update"
                        class="btn btn-primary me-2 comment-delete-button">Change</a>
                    <a class="btn btn-danger" onclick="deleteComment('{{ comment._id }}')">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p class="text-center"><i>No comments</i></p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>

    function deleteComment(commentId) {
        if (!confirm('Are you sure you want to delete this comment?')) {
            return;
        }

        $.ajax({
            method: 'delete',
            url: `/comments/${commentId}`,
            xhrFields: { withCredentials: true }
        }).done(function (data) {
            window.location.href = '/tasks/{{ task._id }}';
        }).fail(function (jqXHR, textStatus, errorThrown) {
            console.log(jqXHR, textStatus, errorThrown);
        });
    }

    (() => {

        $('#deleteButtonId').click(function (event) {
            if (!confirm('Are you sure you want to delete this task?')) {
                event.preventDefault();
                return;
            }

            $.ajax({
                method: 'delete',
                url: '/tasks/{{ task._id }}',
                xhrFields: { withCredentials: true }
            }).done(function (data) {
                window.location.href = '/tasks';
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR, textStatus, errorThrown);
            });
        });
    })();

</script>
{% endblock %}