{% extends "../index.html" %}

{% block title %}
<title>Update task</title>
{% endblock %}

{% block content %}
<h2>Update task</h2>
<form id="taskFormId">
    <div class="mb-3">
        <label for="nameInputId" class="form-label">Name</label>
        <input type="text" class="form-control" id="nameInputId" name="name" value="{{ task.name }}" required>
    </div>
    <div class="mb-3">
        <label for="descriptionInputId" class="form-label">Description</label>
        <input type="text" class="form-control" id="descriptionInputId" name="description"
            value="{{ task.description }}">
    </div>
    <div class="mb-3">
        <label for="projectInputId" class="form-label">Project</label>
        <input type="text" class="form-control" id="projectBlobInputId" name="project_blob"
            value="{{ task.projectBlob }}" required>
        <input type="text" class="form-control" id="projectInputId" name="project" value="{{ task.project._id }}"
            hidden>
    </div>
    <div class="mb-3">
        <label for="performersInputId" class="form-label">Performers</label>
        <input type="text" class="form-control" id="performersBlobInputId" name="performers_blob"
            value="{{ task.performersBlob }}" required>
        <input type="text" class="form-control" id="performersInputId" name="performers" value="{{ task.performerIds }}"
            hidden>
    </div>
    <div class="mb-3">
        <label for="statusInputId" class="form-label">Status</label>
        <select class="form-select" id="statusInputId">
            {% if task.status == 'created' %}
            <option selected value="created">Created</option>
            <option value="in-progress">In-progress</option>
            <option value="done">Done</option>
            {% elif task.status == 'in-progress' %}
            <option value="created">Created</option>
            <option selected value="in-progress">In-progress</option>
            <option value="done">Done</option>
            {% elif task.status == 'done' %}
            <option value="created">Created</option>
            <option value="in-progress">In-progress</option>
            <option selected value="done">Done</option>
            {% endif %}
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Period</label>
        <input type="date" class="form-control mb-3" id="periodFromInputId" name="from"
            value="{{ task.period.from.toLocaleDateString('fr-ca') }}" required>
        <input type="date" class="form-control" id="periodToInputId" name="to"
            value="{{ task.period.to.toLocaleDateString('fr-ca') }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

{% block scripts %}
<script>
    $('#taskFormId').submit(function (event) {
        var formData = {
            name: $('#nameInputId').val(),
            description: $('#descriptionInputId').val(),
            project: $('#projectInputId').val(),
            performers: $('#performersInputId').val(),
            status: $('#statusInputId').val(),
            periodFrom: $('#periodFromInputId').val(),
            periodTo: $('#periodToInputId').val()
        };

        $.ajax({
            type: 'PUT',
            url: '/tasks/{{ task._id }}',
            xhrFields: { withCredentials: true },
            data: formData,
            dataType: 'json',
            encode: true,
        }).done(function (data) {
            window.location.href = '/tasks';
        }).fail(function (jqXHR, textStatus, errorThrown) {
            console.log(jqXHR, textStatus, errorThrown);
        });

        event.preventDefault();
    });

    function split(val, regExpr = / \s*/) {
        return val.split(regExpr);
    }

    function extractLast(term) {
        return split(term).pop();
    }

    function getUserProjects(url) {
        $.ajax({
            url: url,
            method: 'get',
            success: function (json) {
                let projects = json;
                projects = projects.map(project => { return { 'label': project.name, 'value': project._id } });
                let projectInput = $('#projectInputId');

                $('#projectBlobInputId')
                    .on('keydown', function (event) {
                        if (event.keyCode === $.ui.keyCode.TAB &&
                            $(this).autocomplete('instance').menu.active) {
                            event.preventDefault();
                        }
                    })
                    .on('focusout', function (event) {
                        if (this.onFocusoutClear) {
                            this.value = '';
                            projectInput.val('');
                            $('#performersBlobInputId').unbind();
                            this.onFocusoutClear = false;
                        }
                    })
                    .on('focusin', function (event) {
                        $(this).autocomplete('search', '');
                    })
                    .autocomplete({
                        minLength: 0,
                        source: function (request, response) {
                            response($.ui.autocomplete.filter(projects, extractLast(request.term)));
                        },
                        focus: function () {
                            return false;
                        },
                        select: function (event, ui) {
                            this.value = ui.item.label;
                            projectInput.val(ui.item.value);
                            getProjectWorker(`/api/v1/projects/${ui.item.value}/workers`);
                            return false;
                        },
                        response: function (event, ui) {
                            if (!ui.content.length) this.onFocusoutClear = true;
                        }
                    });
            }
        });
    }

    function getProjectWorker(url) {
        $.ajax({
            url: url,
            method: 'get',
            success: function (json) {
                let workers = json;
                workers = workers.map(worker => {
                    return { 'label': worker.fullname, 'value': worker._id }
                });
                let performersInput = $('#performersInputId');

                $('#performersBlobInputId')
                    .on('keydown', function (event) {
                        if (event.keyCode === $.ui.keyCode.TAB &&
                            $(this).autocomplete('instance').menu.active) {
                            event.preventDefault();
                        }
                    })
                    .on('focusout', function (event) {
                        if (this.onFocusoutClear) {
                            this.value = '';
                            performersInput.val('');
                            this.onFocusoutClear = false;
                        } else if (this.value.endsWith(', ')) {
                            let terms = split(this.value, /, \s*/);
                            terms.pop();
                            this.value = terms.join(', ');
                        }
                    })
                    .on('focusin', function (event) {
                        $(this).autocomplete('search', '');
                    })
                    .autocomplete({
                        minLength: 0,
                        source: function (request, response) {
                            response($.ui.autocomplete.filter(workers, extractLast(request.term)));
                        },
                        focus: function () {
                            return false;
                        },
                        select: function (event, ui) {
                            var terms = split(this.value, /, \s*/);
                            terms.pop();
                            terms.push(ui.item.label);
                            terms.push('');
                            this.value = terms.join(', ');

                            terms = split(performersInput.val());
                            terms.pop();
                            terms.push(ui.item.value);
                            terms.push('');
                            performersInput.val(terms.join(' '));
                            return false;
                        },
                        response: function (event, ui) {
                            if (!ui.content.length) this.onFocusoutClear = true;
                        }
                    });
            }
        });
    }


    (() => {
        getUserProjects('/api/v1/users/{{ userSession._id }}/projects');

        $('#periodFromInputId').prop('min', new Date().toLocaleDateString('fr-ca'));
    })();

</script>
{% endblock %}